.delete-by-id {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #d3f3f8;
  border: 1px solid #c3c8fc;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.1);
}

.delete-by-id h2 {
  color: #1b0454;
  margin-bottom: 1rem;
  text-align: center;
}

.delete-by-id input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: calc(100% - 110px);
  margin-bottom: 1rem;
}

.delete-by-id button {
  padding: 0.5rem 1rem;
  background-color: #4aa7cf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.delete-by-id button:hover {
  background-color: #380730;
}

.delete-by-id p {
  margin-top: 1rem;
  color: #092232;
  font-weight: bold;
  text-align: center;
}
